*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e9ecfb;
    height: 100vh;
    width: 100%;
    gap: 50px;
}

.cards{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 23px 25px rgba(0,0,0,0.3);
}

.cards img{
    background-color: rgb(223, 171, 92);
    width: 98%;
    height: 50%;
    border-radius: 9px;
    display: flex;
    margin: 4px;
}

.cards div:nth-child(2){
    background-color: white;
    width: 100%;
    height: 50%;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cards p{
    text-align: center;
    width: 80%;
}

.cards button{
    width: 120px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
    transition: .5s;
}

.cards a{
    text-decoration: none;
    color: white;
}

.cards button:hover{
    background-color: rgba(0, 140, 255, 0.685);
}
